//Criando variáveis
:root {
    --blue: rgb(14, 14, 112);
    --pink: #dc143c;
    --f-weight: 900;
    --f-size: 18px;
}
h1 {
    margin:30px 0;
    text-align: center;
    color: var(--pink);
}
p {
    color: var(--blue);
    font-weight: var(--f-weight);
    font-size: var(--f-size);
}