*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    /* border: 1px solid #000; */
    border-collapse: collapse;
    width: 100px;
    margin: 30px auto;
    color: #333;
}

thead th{
    height: 40px;
    background-color: aqua;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
}

td,th{
    padding: 5px;
    font-size: 14px;
}

tbody tr{
    height: 60px;
}

tbody tr:hover{
    background-color: beige;
    cursor: pointer;
}